div{
    margin: 0 auto;
    text-align: center;
}
p{
    display: inline-block;
    width: 100px;
    height: 300px;
    border: 3px solid black;
    font-size: 25px;
    text-align: center;

    transition: background-color 2s, font-size 2s, color 2s, width 2s, height 2s;
    transition-timing-function: ease-in-out;
    transition-delay: 1ms;
}

/* 마우스 갖다대었을 경우의 스타일 설정(hover) */
p#do:hover{
    background-color: red;
}
p#re:hover{
    background-color: orange;
}
p#mi:hover{
    background-color: yellow;
}
p#pa:hover{
    background-color: green;
}
p#sol:hover{
    background-color: blue;
}
p#la:hover{
    background-color: skyblue;
}
p#si:hover{
    background-color: violet;
}

/* 마우스로 꾹 누를 때 적용할 스타일 정의(active) */
p:active{
    font-size: 35px;
    color: white;
    width: 120px;
    height: 360px;
}